<!-- build:js /assets/build/js/mcms-node-eshop-dev.js-->
<script src="/public/eshop.app/eshop.module.js"></script>
<script src="/public/eshop.app/eshop.config.js"></script>
<script src="/public/eshop.app/index.controller.js"></script>

<script src="/public/eshop.app/Categories/eshop.categories.module.js"></script>
<script src="/public/eshop.app/Products/eshop.products.module.js"></script>
<script src="/public/eshop.app/Orders/eshop.orders.module.js"></script>
<script src="/public/eshop.app/Services/dataService.js"></script>
<script src="/public/eshop.app/Services/product.service.js"></script>
<script src="/public/eshop.app/Services/orders.service.js"></script>
<script src="/public/eshop.app/Products/editProduct.directive.js"></script>
<script src="/public/eshop.app/Components/editItem/generalInformation.directive.js"></script>
<script src="/public/eshop.app/Components/editItem/mediaFiles.directive.js"></script>
<script src="/public/eshop.app/Components/editItem/relatedItems.directive.js"></script>
<script src="/public/eshop.app/Components/editItem/extraFields.directive.js"></script>
<script src="/public/eshop.app/Products/editProductCtrl.js"></script>
<script src="/public/eshop.app/Products/viewProductsCtrl.js"></script>
<script src="/public/eshop.app/Components/orders/viewOrders.directive.js"></script>
<!-- endbuild -->