<div class="modal fade" id="quickEditCategory">
    <div class="modal-dialog modal-lg">
        <form ng-submit="Save()" method="post" novalidate >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ Category.category }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" ng-show="savedFlag">Saved...</div>


                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="title"
                               ng-model="Category.category"
                               to-slug="Category.permalink">
                    </div>

                    <div class="form-group">
                        <label for="permalink">Permalink</label>
                        <input type="text" class="form-control" name="permalink" id="permalink"
                               placeholder="permalink" ng-model="Category.permalink">
                    </div>


                    <div class="form-group">
                        <label for="permalink">ERP Category</label>
                        <input type="text" class="form-control" name="erp-category" id="erp-category"
                               placeholder="ERP Category" ng-model="Category.settings.catid">
                    </div>

                    <div class="form-group">
                        <label for="permalink">Marketing Banner</label>
                        <file-input ng-model="Category.settings.marketingBanner" config="uploadConfig"
                                    callback="onUploadDone(file,response)"></file-input>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->